@import "./variables.scss";
@import "./typed.scss";

/*
Layouts
*/
.header-wrapper {
    position: relative;
    background: white;
    border-bottom: 0px;
    backdrop-filter: blur(100px);
    height: 120px;
    padding: 12px 10%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    .gradient-background1 {
        position: absolute;
        width: 60%;
        height: 100%;
        left:10%;
        top: -60px;
        opacity: 0.5;
        filter: blur(60px);
        background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
        z-index: -100;
    }
    .gradient-background2 {
        position: absolute;
        width: 22%;
        height: 100%;
        right: 10%;
        top: -70px;
        opacity: 0.5;
        filter: blur(60px);
        background: linear-gradient(94.74deg, #001AFF 8.97%, #6EE5C2 94.65%);
        z-index: -100;
    }

    .navLink {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    .btn-follow-us {
        background: none;
        border: 1px solid black;
        border-radius: 100px;
        padding: 12px 25px;
        font-weight: bold;
        color: black;
        img {
            margin-left: 10px;
        }
    }

    .hamburger {
        padding: 1em;
        background-color: transparent;
        border-radius: 20px;
        border-width: 0px;
        transition: background-color 2s ease;

        .hamburger-item {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            border: 10px solid;
            border-width: 0px 0px 3px 0px;
            border-image-slice: 1;
            border-image-source: linear-gradient(90deg, rgba(255, 200, 58, 0.57) 0%, rgba(255, 0, 138, 0.57) 51.56%, rgba(97, 0, 255, 0.57) 96.88%);;
        }

        .follow-btn {
            position: relative;
            border: none;
            font-weight: bold;
            background: linear-gradient(116deg,#FFC83A,#FF008A, #6100FF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;

            .img {
                z-index: -1;
            }
        }

        .follow-btn::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 100px; 
            padding: 1px; 
            background:linear-gradient(116deg,#FFC83A,#FF008A, #6100FF); 
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; 
        }

        .menu {
            position: relative;
            visibility: hidden;
            opacity: 0;
            max-height: 0px;
            transition: max-height 0.6s ease;
        }
    }

    .hamburger.active {
        background-color: white;
        padding: 1em;
        border: 2px solid black;
        border-radius: 20px;
        z-index: 10000;

        .menu-background {
            width: 100vw;
            height: 100vh;
            background: transparent;
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
        }

        .menu {
            visibility: visible;
            height: auto;
            max-height: 300px;
            opacity: 1;
            transition:  max-height 0.7s, opacity 0.5s ease;
        }

        
    }

    
    
}


.footer-wrapper {
    position: relative;
    max-width: 800px;
    width: 90%;
    padding-top: 50px;
    margin: auto;

    .pages-wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: 30px;

        .left {
            display: flex;
            h5 {
                font-weight: bold;
            }
            a {
                text-decoration: none;
                color: black;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 5px;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: end;

            h6 {
                font-size: 20px;
                font-weight: bold;
            }

            p {
                font-size: 12px;
            }
        }
    }

    .gradient-background2 {
        position: absolute;
        width: 70%;
        height: 33%;
        right: 15%;
        bottom: 0px;
        opacity: 0.5;
        filter: blur(60px);
        background: linear-gradient(94.74deg, #6100FF 8.97%, #00FFF0 94.65%);
    }
}

/*
Pages
*/

.landing-page-wrapper {
    margin: auto;
    
    .slide-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;

        h2, h5, h6 {
            text-align: center;
        }

        .type-products {
            padding: 0 0 0 3px;
            background: none;
            &::before { font-weight: 600; }
            @include typed(
                "Products", "Websites", "Applications", "Blockchain Experiences", "API's",
                2,
                (caret-width: 2px, caret-space: 2px)
            );
        }

        .btn-contact {
            border: 1px solid black;
            font-weight: bold;
            color: white;
            background: black;
            padding: 20px 40px;
            border-radius: 37px;
            min-width: 195px;
        }
    
        .btn-join {
            border: 1px solid black;
            font-weight: bold;
            color: black;
            background: white;
            padding: 20px 40px;
            min-width: 195px;
            border-radius: 37px;
        }
    }

    .firms-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            text-align: center;
        }
    }

    .affaliate-wrapper {
        margin-top: 70px;
        padding: 20px;
        background: #FFD644;
        border-radius: 37px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        max-width: 850px;
        .left-panel {
            // padding-right: 20px;
            display: flex;
            align-items: center;
            h5 {
                font-weight: bold
            };

            img {
                width: 4em;
            }
        }
        .right-panel {
            padding-left: 20px;
            padding-right: 20px;
            border-left: 2px solid black;
            button {
                display: flex;
                align-items: center;
                border: none;
                background: none;
                padding-left: 0;
                padding-right: 20px;
                font-weight: bold;
                font-size: 1em;
                color: black;

                .play-icon {
                    box-sizing: border-box;
                    width: 10px;
                    height: 10px;
                    border-width: 5px 0px 5px 8px;
                    border-color: transparent transparent transparent black;
                    border-style: solid;
                    margin-left: 5px;
                    margin-top: 3px;
                }
            }

            
        }
    }

    .industry-wrapper {
        padding: 40px;
        background: #F3F3F8;
        border-radius: 37px;
        width: 95%;
        max-width: 850px;

        img {
            width: 10em;
        }
    }

    .gradient-text {
        background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    .digital-products-wrapper {
        max-width: 1350px;
        width: 80%;
    }

    .customer-review-wrapper {
        width: 90%;
    }

    .help-wrapper {
        max-width: 1350px;
        width: 90%;
        margin: auto;

        .help-description {
            font-size: 16px;
            line-height: 2;
        }

        .email-panel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background: #10C6FF1A;
            border-radius: 10px;
        }

        .email-input {
            margin-left: 5px;
            border: none;
            background-color: #10C6FF00;
            outline: none;
        }

        .subscribe-btn {
            background: black;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 3px 27px 3px 27px;
            box-shadow: 0px 6px 20px #79C5DD;
        }
    }

    .github-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        background: #BE402D;
        max-width: 700px;
        width: 95%;
        margin: auto;

        .left {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            h5 {
                color:white ;
                font-weight: 500;
            }

            .github-logoImg {
                width: 8em;
            }

            .github-img {
                width: 4em;
            }
        }

        .right {
            display: flex;
            align-items: center;
            color: white;
            border-left: 2px solid white;

            h4 {
                font-weight: 200;
            }

            span {
                font-weight: bold;
            }

            .play-btn {
                width: 2em;
                height: 2em;
                box-sizing: border-box;
                border-width: 1em 0px 1em 1em;
                border-color: transparent transparent transparent white;
                border-style: solid;
                border-radius: 5px;
            }
        }
    }
    
}



/*
Copmonents
*/

.product-card {
    .product-card-img {
        width: 100%;
        border-radius: 20px;
    }
}

.customer-review {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: top;

    .customer-review-description {
        text-align: center;
        line-height: 2.5;
    }

    $default-height: 80px;
    $default-width: 80px;

    $level0-width: 90px;
    $level0-height: 90px;
    $level1-width: 70px;
    $level1-height: 70px;
    $level2-width: 50px;
    $level2-height: 50px;

    $level-2-left: 85%;
    $level-1-left: 70%;
    $level0-left: 50%;
    $level1-left: 30%;
    $level2-left: 15%;

    .customer-avatars {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item {
        text-align: center;
        color: white;
        font-size: 40px;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        transition: box-shadow 1s,  height 250ms, width 250ms, left 1s, margin-top 1s, line-height 250ms, background-color 1s;

        .customer-avatar {
            box-sizing: content-box;
            border-radius: 10000px;
            img {
                width: 100%;
            }
        }
    }

    .level-2 {
        height: $level2-height;
        width: $level2-width;
        line-height: $level2-height;
        // left: $level-2-left;
    }
    
    .level-1 {
        height: $level1-height;
        width: $level1-width;
        line-height: $level1-height;
        // left: $level-1-left;
    }
    
    .level0 {
        height: $level0-height;
        width: $level0-width;
        // line-height: $level0-height;
        // left: $level0-left;
        .customer-avatar {
            box-sizing: content-box;
            border: 4px solid black;
            padding: 3px;
            border-radius: 10000px;
            img {
                width: 100%;
            }
        }
    }

    .level1 {
        height: $level1-height;
        width: $level1-width;
        line-height: $level1-height;
        // left: $level1-left;
    }
    
    .level2 {
        height: $level2-height;
        width: $level2-width;
        line-height: $level2-height;
        // left: $level2-left;
    }

    .left-enter {
        opacity: 0;
        left: $level2-left;
        height: $level2-height - $default-height;
        width: $level2-width - $default-width;
        line-height: $level2-height - 30;
    
        &.left-enter-active {
            opacity: 1;
            left: $level2-left;
            height: $level2-height;
            width: $level2-width;
            line-height: $level2-height;
            transition: box-shadow 1s,  left 1s, opacity 1s, height 250ms, width 250ms, margin-top 1s, line-height 1s;
        }
    }
    
    .left-leave {
        opacity: 1;
        left: $level-2-left;
        height: $level2-height;
        width: $level2-width;
        line-height: $level2-height;
        z-index: -1;
    
        &.left-leave-active {
            z-index: -1;
            left: $level-2-left;
            opacity: 0;
            height: $level2-height - $default-height;
            width: $level2-width - $default-width;
            line-height: 120px;
            transition: box-shadow 1s,  left 1s, opacity 1s, height 250ms, width 250ms, margin-top 1s, line-height 1s;
        }
    }
    
    .right-enter {
        opacity: 0;
        left: $level-2-left;
        height: $level2-height - $default-height;
        width: $level2-width - $default-width;
        line-height: $level2-height - 30;
    
        &.right-enter-active {
            left: $level-2-left;
            opacity: 1;
            height: $level2-height;
            line-height: $level2-height;
            width: $level2-width;
            transition: box-shadow 1s,  left 1s, opacity 1s, height 250ms, width 250ms, margin-top 1s, line-height 1s;
        }
    }
    
    .right-leave {
        left: $level2-left;
        height: $level2-height;
        opacity: 1;
        line-height: $level2-height;
        width: $level2-width;
    
        &.right-leave-active {
            left: $level2-left;
            opacity: 0;
            height: $level2-height - $default-height;
            width: $level2-width - $default-width;
            line-height: $level2-height - 30;
            transition: box-shadow 1s,  left 1s, opacity 1s, height 250ms, width 250ms, margin-top 1s, line-height 1s;
        }
    }
}