/****************************************/


/******* Variable Definition *********/


/***************************************/
$secondary_100: #E4E0F4;
$secondary_200: #C3B8F7;
$secondary_300: #A48EFB;
$secondary_600: #4E29DE;
$light_100: #FFFFFF;
$light_200: #F9FBFC;
$light_300: #EBEFF9;
$light_500: #8993A9;
$light_900: #8993A9;
$disabled: #AFB7C8;
$dark_highlight: #001D44;
$medium_highlight: #4E5C7B;
$light_highlight: #F7FAFF;
$outline_color_light: #DFE4EE;
$pink_200: #F7EEFB;
$primary_500: #FB1B88;
$accent_red_400: #DD5F57;
$accent_red_500: #D73234;
$accent_blue: #2A54CB;
$accent_green_500: #50A43F;
$secondary_500: #623AFD;
$body_color: #1a273f;
$black: #000000;